* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.narBar {
    background-color: white;
}

.navElements li {
    display: inline;
}

ul {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

li {
    margin-right: 80px;
}

.navRight {
    margin-right: 100px;
    float: right;
}

.navLeft {
    margin-left: 175px;
}